body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

form {
  margin-top: 2em;
  border: 1px solid blue;
  padding: 1em;
}

.search_input {
  width: 200px;
  height: 2em;
  margin: 1em;
}

button {
  text-decoration: none;
  color: blue;
  margin-right: 1em;
  border: 1px solid yellow;
  border-radius: 50px;
  padding: 1em;
  background-color: white;
}

button:hover {
  background-color: blue;
  color: white;
}
span {
  color: red;
}
.card {
  max-width: 200px;
  height: 300px;
  text-align: center;
  border: 1px solid blue;
  margin-top: 2em;
  padding: 1em;
}
/* .card img {
  max-width: 180px;
} */
@media screen and (max-width: 1024px) {
  .card_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    margin-right: 0;
    margin-bottom: 1em;
  }

  .card_container {
    grid-template-columns: repeat(2, 1fr);
  }


}
@media screen and (max-width: 414px) {
  .card_container {
    grid-template-columns: repeat(1, 1fr);
  }
}

